name: Stargazer

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  stargazer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          git clone https://github.com/adnahmed/gaze-stars.git
          cd gaze-stars
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        shell: bash

      - name: Run Stargazer
        run: |
          python gaze-stars/Stargazer.py
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
          GITHUB_USERNAME: ${{ github.repository_owner }}
          TEMPLATE_PATH: template/template.md
          OUTPUT_PATH: public/stars.md
          SORT_BY: stars

      - name: Commit and push changes
        run: |
          git config --global user.name "Github Action"
          git config --global user.email "actions@users.noreply.github.com"
          git add public/stars.md
          if ! git diff-index --quiet HEAD --; then
            git commit -m "chore(updates): updated stars list"
            git push
          else
            echo "No changes to commit."
          fi
        shell: bash
